@import url(https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sancreek&display=swap);

* {
  box-sizing: border-box;
  outline: none;
}

html {
  background-color: rgb(58, 58, 58);
}

body {
  margin: 0;
  font-family: "Big Shoulders Text", cursive;
  letter-spacing: 1px;
}
/* menuiu de navigare */
.navbar {
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 10;
  font-family: Prompt, cursive;
}
.sticky {
  transition: all 0.8s ease 0s;
  background: #000;
}
.shows {
  display: block !important;
}
.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  padding: 0px 24px;
  max-width: 1100px;
  position: relative;
}
.navbar-brand {
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
  text-decoration: none;
}
.navbar-logo {
  width: 200px;
  max-width: 30vw;
}

.navbar-toggler {
  display: none;
}
.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}
.navbar-item {
  height: 50px;
  position: relative;
  overflow: hidden;
}
.navbar-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(170, 115, 64);
  bottom: 0px;
  left: -100%;
  z-index: 2;
  transition: all 0.5s ease 0s;
}
.navbar-item:hover::after {
  left: 0px;
}
.navbar-link {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0px 1rem;
  height: 100%;
  cursor: pointer;
}
/* home */
.home {
  background: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.home::before {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.home-video-container {
  position: absolute;
  inset: 0px;
  overflow: hidden;
}
.home-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgb(35, 42, 52);
}
.home-text-container {
  z-index: 3;
  max-width: 1200px;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  color: rgba(255, 255, 255, 0.482);
  font-size: clamp(2rem, 5vw, 4rem);
  text-align: center;
  font-family: Sancreek, cursive;
}
.home-subtitle {
  margin-top: 24px;
  color: white;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-family: Prompt, cursive;
  text-align: center;
  max-width: 600px;
  cursor: default;
}
.home-subtitle > span {
  transition: all 0.5s ease 0s;
}
.home-subtitle > span:hover {
  color: rgb(170, 115, 64);
}
.home-action {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.read-more-link {
  white-space: nowrap;
  padding: 12px 30px;
  color: rgb(1, 6, 6);
  font-size: 1rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  z-index: 1;
}
.read-more-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease 0.2s;
  background-image: linear-gradient(
    0deg,
    rgb(255, 207, 112) 0%,
    rgb(255, 174, 61) 97%
  );
  z-index: -1;
}
.read-more-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease 0.2s;
  background-image: linear-gradient(
    -180deg,
    rgb(180, 132, 87) 0%,
    rgb(170, 115, 64) 97%
  );
  z-index: -1;
}
.read-more-link:hover {
  animation-name: hoverPop;
  animation-duration: 0.4s;
  color: white;
}
.read-more-link:hover::before {
  animation: 3s linear 0.4s infinite normal none running slick-hover-2;
  transform: translateY(-10px) translateX(-10px);
}
.read-more-link:hover::after {
  animation: 3s linear 0.4s infinite reverse none running slick-hover;
  transform: translateY(10px) translateX(10px);
}
/* sectiunile */
.section {
  color: white;
  height: auto;
  background-color: rgb(1, 6, 6);
}
.content {
  display: grid;
  height: calc(100vh - 80px);
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 24px;
  justify-content: center;
}
.text-container {
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  grid-template-areas: "col1 col2";
  align-items: center;
}
.text-inner {
  margin-bottom: 15px;
  padding: 0px 15px;
  grid-area: col1 / col1 / col1 / col1;
}
.text {
  max-width: 540px;
  padding-top: 0px;
  padding-bottom: 60px;
}
.subtitle {
  color: rgb(170, 115, 64);
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.title {
  margin-bottom: 24px;
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 1.1;
  font-weight: 600;
  color: rgb(247, 248, 250);
}
.description {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 1.1rem;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.read-more {
  display: flex;
  justify-content: flex-start;
}
.image-container {
  margin-bottom: 15px;
  padding: 0px 15px;
  grid-area: col2 / col2 / col2 / col2;
}
.image-inner {
  max-width: 555px;
  height: 100%;
  overflow: hidden;
}
.image {
  width: 100%;
  padding-left: 0px;
  transition: all 1.5s ease 0s;
}
.image:hover {
  transform: scale(1.1);
}
.light-gray {
  background-color: rgb(249, 249, 249);
}
.grid-container {
  grid-template-areas: "col2 col1";
}
.black {
  color: rgb(1, 6, 6);
}
/* galerie */
.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 6, 6);
}
.gallery-inner {
  height: calc(100vh - 80px);
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery-title {
  font-size: clamp(1.8rem, 5vw, 2.5rem);
  color: white;
  margin-bottom: 64px;
  text-align: center;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
  padding: 0px 50px;
}
.image-item {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-height: 340px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  cursor: pointer;
  overflow: hidden;
  border: 5px solid white;
}
.image-thumbnail {
  transition: all 0.5s ease 0s;
}
.image-thumbnail:hover {
  transform: scale(1.1);
}
/* subsolul */
.footer {
  background-color: rgb(16, 21, 34);
  font-family: Trochut, cursive;
  position: relative;
}
.footer-container {
  padding: 25px 24px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0px auto;
}
.footer-section {
  max-width: 1000px;
  width: 100%;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 40px auto 0px;
}
.footer-brand {
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Sancreek, cursive;
}
.footer-copyright {
  color: white;
  width: 60%;
  font-family: Prompt, cursive;
}
.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.marquee p {
  position: absolute;
  width: 1300px;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 50px;
  text-align: center;
  transform: translateX(100%);
  animation: scroll-left 20s linear infinite;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.footer-social-icon {
  color: white;
  font-size: 1.5rem;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 768px) {
  /* meniu */
  .navbar-toggler {
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-100%, -30%);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }
  .navbar-menu {
    display: none;
    margin-top: 79px;
    position: fixed;
    z-index: 11;
    width: 100%;
    background-color: rgb(13, 13, 13);
    left: 0px;
    transition: all 0.3s ease-in-out 0s;
    opacity: 1;
    top: 0px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .navbar-item::after {
    content: none;
  }
  .navbar-link {
    display: flex;
    justify-content: center;
  }

  /* sectiunile */
  .section {
    padding: 100px 0px;
  }
  .text-container {
    grid-template-areas: "col1 col1" "col2 col2";
  }
  .image {
    width: 70%;
  }
  /* galerie */
  .gallery-container {
    padding: 100px 0px;
  }
  .gallery-title {
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .image-grid {
    grid-template-columns: 1fr;
    padding: 0px 20px;
  }
  .image-item {
    max-height: 30vh;
  }
}
@media screen and (max-width: 820px) {
  .footer-info {
    flex-direction: column;
  }
}
